/* Nunito Sans */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

:root {
  --gray: #d9d9d9ff;
  --white: #12171a;
  --black: #fdfcfc;
  --yellow: #ffb73e;
  --black-yellow : #4a3c21;
}

@theme {
  --breakpoint-xs: 0px; /*samsung phone*/
  --breakpoint-sm: 412px; /*iphone phone*/
  --breakpoint-md: 768px; /*tablet*/
  --breakpoint-lg: 1024px; /*small laptop*/
  --breakpoint-xl: 1200px; /*laptop 14 inch*/
  --breakpoint-2xl: 1400px; /*laptop 15 inch (my laptop)*/
  --breakpoint-3xl: 1600px; /*laptop 16 inch*/

  --animate-wiggle: wiggle 1s ease-in-out 2;
  
  --text-xs : 0.8rem;
  --font-mono : Nunito Sans, sans-serif;

  @keyframes wiggle {
    0%, 100% {
      transform: scale(1.0) rotate(-20deg); /* Gabungkan scale dan rotate dalam satu deklarasi */
    }
    50% {
      transform: scale(1.15) rotate(5deg); /* Gabungkan scale dan rotate dalam satu deklarasi */
    }
  }




}


@layer base {
  body {
    @apply overflow-x-hidden scroll-smooth w-screen; /*base styling*/
    @apply flex flex-col justify-start items-start; /*flex*/
    @apply text-sm font-mono text-left; /*font*/
    @apply text-gray-300;

  }

  body{
    background-color: var(--white);
    
  }
}

@layer components {

  .hello-animation{
    @apply animate-wiggle;
    animation-delay: 1s;
  }

  
  .projects-container{
    @apply flex flex-col gap-10 px-8 w-full items-end z-0;
  }

  .introduction-container{
    @apply flex flex-col gap-10  p-8 w-full items-start z-20;
  }

  .project{
    @apply flex flex-col border-1 gap-6 p-6 cursor-pointer rounded-sm transition duration-200 ease-in-out w-full z-0;
    color: var(--gray);
  }

  .sub-header-text{
    @apply font-mono text-base w-full text-left;
    color: var(--black);
  }

  .icon{
    @apply text-2xl cursor-pointer font-semibold hover:text-(--yellow) transition duration-200 ease-in-out transition duration-200 ease-in-out ;
    color: var(--black);
  }

  .toogle{
    @apply z-40 cursor-pointer fixed absolute top-4 right-4 bg-transparent ;
  }
}

@layer utilities {
  ::selection {
    background-color: var(--yellow); 
    color: var(--black); 
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Media query untuk layar dengan lebar maksimal 767px */
  @media (min-width: 0px) and (max-width: 500px) {
    .grid-areas-layout {
      display: grid;
      grid-template-areas: 
        "image-area hello-area"
        "image-area name-area";
      grid-template-columns: 1fr 1fr;
    }
  }

  /* Media query untuk layar dengan lebar minimum 768px */
  @media (min-width: 500px) {
    .grid-areas-layout {
      display: grid;
      grid-template-areas: 
        "image-area hello-area"
        "image-area name-area";
      grid-template-columns: 0.3fr 1fr;
    }
  }


  .image-area {
    grid-area: image-area;
  }

  .hello-area {
    grid-area: hello-area;
  }

  .name-area {
    grid-area: name-area;
  }

  @keyframes fadeInDown {
    0% {
      transform: translateY(-50px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
  }

  .fade-in-down {
    animation: fadeInDown 3s ease-in-out; 
  }

  @keyframes rollFromBottom {
  0% {
    transform: translateY(50px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
}


  /* Kelas untuk animasi */
  .rollFromBottom {
    animation: rollFromBottom 1s ease-out forwards;
  }


}
