@import "tailwindcss";
:root {
  --gray: #d9d9d9ff;
  --white:#121212;
  --black: #fdfcfc;
  --yellow : #e0a73cff;

}


@theme {
  --breakpoint-sm: 540px;
  --breakpoint-md: 767px;
  --breakpoint-lg: 1200px;
  --breakpoint-xl: 1400px;
  --breakpoint-2xl: 1600px;

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }

    --animate-fade: fadeInDown 2s ease-in-out;
    @keyframes fadeInDown {
      0% {
        opacity: 0;
        transform: translateY(-30px);
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
    }
  

}

@layer utilities {
  ::selection {
    background-color: var(--yellow); 
    color: var(--black); 
  } 


  .hide-scrollbar {
    overflow-y: auto;
    scrollbar-width: none;  /* Untuk browser Firefox */
    -ms-overflow-style: none;  /* Untuk browser IE */
  }


  .hide-scrollbar::-webkit-scrollbar {
    overflow-y: auto;
    display: none;
  }


  .grid-areas-layout {
    display: grid;
    grid-template-areas: 
      "image-area hello-area"
      "image-area name-area";
    grid-template-columns: 0.3fr 1fr; /* Adjust these values based on your layout */
    grid-template-rows: auto;
  }

  .image-area {
    grid-area: image-area;
  }

  .hello-area {
    grid-area: hello-area;
  }

  .name-area {
    grid-area: name-area;
  }


}





