@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #d9d9d9ff;
  --white:#121212;
  --black: #fdfcfc;
  --yellow : #eec06aff;

}


@theme {
  --breakpoint-xs: 0px;
  --breakpoint-sm: 412px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
  --breakpoint-3xl: 1600px;

  
  

}
@layer base{
  body{
    @apply bg-(--yellow) overflow-x-hidden scroll-smooth;
  }
}




@layer utilities {
  ::selection {
    background-color: var(--yellow); 
    color: var(--black); 
  } 


  .hide-scrollbar {
    overflow-y: auto;
    scrollbar-width: none;  /* Untuk browser Firefox */
    -ms-overflow-style: none;  /* Untuk browser IE */
  }


  .hide-scrollbar::-webkit-scrollbar {
    overflow-y: auto;
    display: none;
  }


  .grid-areas-layout {
    display: grid;
    grid-template-areas: 
      "image-area hello-area"
      "image-area name-area";
    grid-template-columns: 0.3fr 1fr; /* Adjust these values based on your layout */
    grid-template-rows: auto;
  }

  .image-area {
    grid-area: image-area;
  }

  .hello-area {
    grid-area: hello-area;
  }

  .name-area {
    grid-area: name-area;
  }


  @keyframes up {
    0% {
      transform: translateY(0px);
    }
    100% {
      transform: translateY(-200px);
    }
  }

  .animate-up {
    animation: var(--animate-up);
  }

  
}








